:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --w: #ffffff;
  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
}

.cor-w {
  color: var(--w);
}

.cor-c5 {
  color: var(--c5);
}
.cor-c6 {
  color: var(--c6);
}
.cor-c10{
  color: var(--c10);
}
.cor-c11{
  color: var(--c11);
}
.cor-p1 {
  color: var(--p1);
}
.cor-p5 {
  color: var(--p5);
}
.cor-p4 {
  color: var(--p4);
}
