.depoimentos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--p1);
  overflow: hidden;
}

.depoimentos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  font-family: "merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}

.depoimentos p::before {
  content: "“";
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
  left: -50px;
  top: -20px;
}

.depoimentos p::after {
  content: "”";
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimentos {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimentos img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}
